<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="equity.com.fourgr">

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DataSubmissionActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".ViewSubmissionsActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>


        <activity
            android:name=".SubmissionActivity"
            android:label="@string/title_activity_submission"
            android:parentActivityName=".ViewSubmissionsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewSubmissionsActivity" />
        </activity>


        <activity
            android:name=".ViewInMapActivity"
            android:parentActivityName=".ViewSubmissionsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewSubmissionsActivity" />
        </activity>
        <activity
            android:name=".OfflineDataActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>




        <activity
            android:name=".DataSubmission"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>




        <service
            android:name=".sync.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name=".provider.SubmissionProvider"
            android:authorities="equity.com.fourgr.provider.SubmissionProvider"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="true"
            android:syncable="true" />


        <provider
            android:authorities="equity.com.fourgr.provider.SubmissionPhotosProvider"
            android:name=".provider.SubmissionPhotosProvider"
            android:exported="true"
            android:enabled="true"
            android:multiprocess="true"
            android:syncable="false" />

        <activity
            android:name=".SubmissionPhotosActivity"
            android:label="@string/title_activity_submission_photos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubmissionReviewActivity"
            android:label="@string/title_activity_submission_review"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".DraftSubmissionsActivity"
            android:parentActivityName=".MainActivity"/>



    </application>



</manifest>